<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center alert alert-success">
                Welcome to my first angular app with integarting RSET API
              </h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <a routerLink="jobs" class="btn btn-block btn-success">- Jobs -</a>
        </div>
        <div class="col-md-4">
            <a routerLink="Countries" class="btn btn-block btn-primary">- Countries -</a>
        </div>
        <div class="col-md-4">
            <a routerLink="companyjobs" class="btn btn-block btn-warning">- Company Job -</a>
        </div>
    </div>

</div>